name: Check Ruff Format

on:
  pull_request:
    branches:
      - '*'

jobs:
  ruff-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install ruff
        run: |
          python -m pip install --upgrade pip
          pip install ruff

      - name: Run Ruff check
        run: ruff check .
